<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        .pago{
            color: green;
        }
        .nao-pago{
            color: red;
        }
        .minha-classe{
            background-color: burlywood;
        }
        .nenhuma-conta-pagar{
        	color: green;
        }
        .contas-a-pagar{
        	color: red;
        }
        .contas-nao-cadastradas{
        	color: gray;
        }
    </style>
</head>
<body id="app">
<h1>{{ title }}</h1>
<h3 :class="{'contas-nao-cadastradas': empty, 'contas-a-pagar': countDebts, 'nenhuma-conta-pagar': !countDebts}"">
	{{ countDebts | generalStatus }}
</h3>

<nav>
    <ul>
        <li v-for="menu in menus"><a href="#" @click.prevent="showView(menu.id)">{{ menu.name }}</a></li>
    </ul>
</nav>

<div v-if="activedView == 0">
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>#</th>
            <th>Vencimento</th>
            <th>Nome</th>
            <th>Valor</th>
            <th>Paga?</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(index, bill) in bills">
            <td>{{ index + 1 }}</td>
            <td>{{ bill.date_due }}</td>
            <td>{{ bill.name }}</td>
            <td>{{ bill.value | currency 'R$ ' 2 }}</td>
            <td class="minha-classe" :class="{'pago': bill.done, 'nao-pago': !bill.done}">
                {{ bill.done | doneLabel }}
            </td>
            <td>
                <a href="#" @click.prevent="loadBill(bill)">Editar</a> |
                <a href="#" @click.prevent="deleteBill(index)">Excluir</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div v-else="activedView == 1">
    <form name="form" @submit.prevent="submit">
        <label>Vencimento: </label>
        <input type="text" v-model="bill.date_due"/>
        </br></br>
        <label>Nome: </label>
        <select v-model="bill.name">
            <option v-for="name in names" :value="name">{{ name }}</option>
        </select>
        </br></br>
        <label>Valor: </label>
        <input type="text" v-model="bill.value"/>
        </br></br>
        <input type="checkbox" v-model="bill.done"/>
        </br></br>
        <input type="submit" value="Enviar">
    </form>
</div>

<script type="text/javascript" src="node_modules/vue/dist/vue.min.js"></script>
<script type="text/javascript" src="app.js"></script>
</body>
</html>